extend main.pug

block content
  form(action="/submit", method="post") 
    div(class="row mb-3")
      label(class="form-label", for="spotify_link")
        b Enter spotify link
      input#spotify_link(class="form-control", type="url", name="spotify_link", placeholder="https://open.spotify.com/track/x")
    div(class="btn-group")
      button(class="btn btn-primary", type="submit") Submit
      a(href="/search", class="btn btn-outline-primary") Search for Track